# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment files
.env
*.env
.DS_Store

# Ignore virtual environments
venv/
env/
*.egg-info/

# Ignore IDE files
.vscode/
.idea/
*.iml

# Ignore unnecessary media files
braille/